<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>161584597472-67usdp2n2se35jhnq9n5gqgegfd0fnsr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.161584597472-67usdp2n2se35jhnq9n5gqgegfd0fnsr</string>
	<key>API_KEY</key>
	<string>AIzaSyAVS2x5dHEjnkeYcV977h8psXjNC2sX0nQ</string>
	<key>GCM_SENDER_ID</key>
	<string>161584597472</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>teachlegato.com</string>
	<key>PROJECT_ID</key>
	<string>legato-1f46f</string>
	<key>STORAGE_BUCKET</key>
	<string>legato-1f46f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:161584597472:ios:beb6516ebbdcac09874385</string>
</dict>
</plist>